.forgotten-password-wrapper {
    /* max-width: 500px; */
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }
  
  .styled-form {
    display: flex;
    flex-direction: column;
    > * {
      margin: 0;
    }
  }
  
  @media (min-width: 768px) {
    .styled-form {
      grid-template-columns: 1fr auto;
      align-items: flex-start;
    }
  
    .styled-form button {
      height: 44px;
    }
  }
  
  .response-message {
    margin-bottom: 20px;
  }

  @media screen and (max-width:425px) {
    .forgotPasswordInfo{
      font-size: 8px;
    }
  }

  .forgotPasswordInfo{
    margin-bottom: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
  }
  
  .login-link {
    margin-top: 20px;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  